@import "tailwindcss";
@theme {
    --color-jerneRed: #C80000;
    --color-jerneNavy: #2E4658;
    --color-lightBG: #F2F2F2;
    --color-greyBorder: #D9D9D9;
}

/* ===== LOGO RESPONSIVENESS ===== */
.logo {
    height: 72px;
    width: auto;
    object-fit: contain;
}

/* Tablet */
@media (max-width: 900px) {
    .logo {
        height: 48px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .logo {
        height: 36px;
    }
}
