version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "5000:8080"   # ASP.NET listens on 8080 inside container
    environment:
      - ASPNETCORE_URLS=http://+:8080

  client:
    build:
      context: ./client
    container_name: client
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://server3sem-deadpigeons.fly.dev
      - NGINX_PORT=8080
    depends_on:
      - server
