name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          dotnet-quality: preview

      - name: Restore
        working-directory: server
        run: dotnet restore

      - name: Build
        working-directory: server
        run: dotnet build --no-restore

      - name: Test
        working-directory: server
        run: dotnet test --no-build --verbosity normal
